extends layout
block content
    main.main
        section.intro
            if message
                h3.indexmes #{message}
            //如果用户登录或者注册成功并且没有在登录状态下点击注册或者登录
            if success&&user
                h1.welcome #{success}，欢迎 #{user} 来到 Microblog
            else if !success&&user
                h1.welcome 欢迎 #{user} 来到 Microblog
            else
                h1.welcome 欢迎来到 Microblog
            h3.tech Microblog是一个基于Node.js,使用express4.12.1,jade1.9.2以及MongoDB搭建起来的微博系统,是对Node.js开发指南一书中教学项目的重构。
            p.btnlist
                if user
                    a.login(href='/logout') 退出
                    a.userlink(href='/users/#{user}') 发表文章
                else
                    a.login(href='/login') 登录
                    a.register(href='/reg') 立即注册
            //if user
            //    form.submitform(method='get',action='user/#{user}')
            //        input.article(type='text',name='article',id='article',placeholder='说出你此刻的想法...')
            //        input.submit(type='submit',name='submit',value='发表')
        section.show
            each val in posts
                article.col
                    h3.author #{val.user}说
                    p
                        | #{val.post}




